body {
    background-color: #d6e8ff;
}

div {
    padding: 0;
    margin: 0;
}

.container {
    background-color: white;
    height: 100%;
    margin: 10px auto auto;
    width: 700px;
    display: flex;
    flex-direction: row;
}

.leftSide {
    width: 30%;
    border-right: 3px solid rgb(204, 204, 204);
    overflow: auto;
}

.rightSide {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messages {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#messages-content {
    overflow: auto;
    height: 100%;
}

.addUser {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}
.inputBox{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.inputBox input {
    width: 80%;
}

.inputBox button {
    width: 20%;
}

#send {
    width: 10%;
}

.upperPanel {
    padding: 5px;
    width: 95%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 3px solid rgb(158, 158, 158);
    height: 50px;
}

.upperPanel div {
    width: 33%;
    display: flex;
}

.upperPanel button {
    padding: 0 10px 0 10px;
    margin: 0;
}

.withForm {
    display: flex;
    justify-content: flex-end;
}

.withForm span{
    overflow: hidden;
}

.upperPanel input {
    padding: 0 10px 0 10px;
    margin: 0;
    height: 30px;
    margin-top: 5px;
}

.upperPanel b {
    font-size: 24px;
}

.messages button {
    font-size: 13px;
    width: 80px;
    height: 30px;
}

.chat {
    padding: 10px;
    /*font-size: larger;*/
    border-bottom: 1px solid rgb(204, 204, 204);
}

.chat:hover {
    background-color: rgb(221, 221, 221);
}

.vertical {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vertical button {
    width: 30px;
    height: 30px;
    padding: 0 10px 0 10px;
    margin: 0px;
}

.view {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 30%;
    padding-right: 20px;
}

.activeChat{
    background-color: #e0edff;
}

form {
    width: 100px;
}