img {
  width: 40px;
  height: auto;
  /* max-width: 100%; */
}

.img_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.incoming_msg {
  align-self: flex-start;
  /* min-height: 50px; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin: 0;
  width: 100%;
}

.message_itself {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  background-color: #fff4ec;
  border-radius: 3px;
  color: #646464;
}

.content_div {
  display: flex;
  flex-direction: column;
}

span {
  color: #747474;
  display: block;
  font-size: 12px;
}

.right span {
  align-self: flex-end;
}

.time {
  font-size: 8px;
}

.right .time {
  align-self: flex-end;
  /* float: right; */
}

.right {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.right .message_itself {
  background-color: #deebfa;
}